<div  style="width: 400px;">
    <h3>Add Food Items</h3>
    <form [formGroup]="foodItemAddForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Food Item Name</label>
      <input type="text" class="form-control" id="foodItemName" required  formControlName="foodItemName">
    </div>

    <div class="form-group">
      <label for="name">Food Item Cost</label>
      <input type="text" class="form-control" id="foodItemCost" required  formControlName="foodItemCost">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

